<form method="post" action="{{ path('app_roysched_delete', {'title': roysched.title}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ roysched.title) }}">
    <button class="btn">Delete</button>
</form>
