{% extends 'northwind_base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('northwind/categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_northwind_categories_index') }}" class="btn btn-secondary">back to list</a>

    {{ include('northwind/categories/_delete_form.html.twig') }}
{% endblock %}
