<!DOCTYPE html>
<html lang="de" x-data="{ darkMode: false }" x-init="darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))" :class="{'dark': darkMode === true}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Express Pubs{% endblock %} - Verlagsverwaltungsplattform</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>📚</text></svg>">

        {% block stylesheets %}
        {% endblock %}

        <style>
            [x-cloak] { display: none !important; }
        </style>

        {% block javascripts %}
            <script src="//unpkg.com/alpinejs" defer></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-gray-100 min-h-screen flex flex-col">
        {% block navigation %}
            {% include 'base/nav.html.twig' %}
        {% endblock %}

        <div class="flex-1">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            {% include 'base/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
